.user{

  .header-data{
    background: lightgreen !important;
    margin: 8px 8px 8px 1px;
  }

  .addPost{
    margin-top: 8px;
    margin-bottom: 8px;
    background: rgba(0,52,104,1);
    text-align: center;
    text-decoration: none;
    color:white;
  }

}

